{% extends "base.html" %}
{% block content %}
    <h1>Projects</h1>
    {% for project in projects %}
        <!-- Debug line to print out the project id -->
        <!-- <p>Project ID: {{ project.id }}</p> -->
        <h2 class="project-name" onclick="toggleMeasurements('{{ project.id }}')">
            <a href="{{ url_for('project_detail', project_id=project.id) }}">{{ project.name }}</a>
        </h2>
        <div id="{{ project.id }}" style="display: none;">
            {% for measurement in project.measurements %}
                <p>Footings LF: {{ measurement.footings_lf }}</p>
                <p>Foundation LF: {{ measurement.foundation_lf }}</p>
                <p>Garage SF: {{ measurement.garage_sf }}</p>
                <p>Basement SF: {{ measurement.basement_sf }}</p>
                <p>Living Area SF: {{ measurement.living_area_sf }}</p>
                <p>Garage Wall LF: {{ measurement.garage_wall_lf }}</p>
                <p>Outside Wall LF: {{ measurement.outside_wall_lf }}</p>
                <p>Common Wall LF: {{ measurement.common_wall_lf }}</p>
                <p>Plumbing Wall LF: {{ measurement.plumbing_wall_lf }}</p>
                <p>Interior Wall LF: {{ measurement.interior_wall_lf }}</p>
                <p>Outside Wall SF: {{ measurement.outside_wall_sf }}</p>
                <p>Gable SF: {{ measurement.gable_sf }}</p>
                <p>Roof Perimeter LF: {{ measurement.roof_perimeter_lf }}</p>
                <p>Roof SF: {{ measurement.roof_sf }}</p>
            {% endfor %}
        </div>
        <form action="{{ url_for('delete_project', id=project.id) }}" method="POST">
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
    <script>
        function toggleMeasurements(id) {
            console.log('toggleMeasurements called with id:', id);
            var measurements = document.getElementById(id);
            if (measurements.style.display === "none") {
                measurements.style.display = "block";
            } else {
                measurements.style.display = "none";
            }
        }
    </script>
{% endblock %}